# Dependencies
node_modules
.pnpm-store
.pnpm

# Build artifacts
dist
*.log

# Version control & configs
.git
.gitignore
Dockerfile
docker-compose.yml

# Environment files
.env
.env.*

# IDE files
.vscode
.idea

# OS / misc
.DS_Store
Thumbs.db

#json
config/volume.json
